@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
$black: #141414;
$blue: #e8b528;
$white: #F6F7F8;
$transition: 250ms;
body{
    font-family: 'Montserrat', sans-serif;
    background-color: $black;
    background-image: radial-gradient(#202020 2px, transparent 2px);
    background-size: 50px 50px;
    color:$white;
    padding:100px 30%;
    button{
        background-color: transparent;
        color:$blue;


        transition: $transition;
        cursor:pointer;

        margin:0;
        margin-bottom:9px;

        padding:0;

        border:none;
        border-bottom:1px solid transparent;

        &:hover{
            transform: translateY(-3px);
            border-bottom:1px solid $blue;
        }
    }
}
h1 {
  font-family: 'Playfair Display', serif;
}

